

.Categories-heading{
    font: normal normal 800 22px/31px Gilroy;
    letter-spacing: 0.5px;
    color: #3C4852;
    opacity: 1;
}

.Categories-main{
 
}

.Categories-main p{
    font: normal normal normal 18px/26px Gilroy;
    letter-spacing: 0px;
    color: #3C4852;

}

.active-category{
    width:100%;
    background: #08BD80 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    padding:4px;
    padding-left:6px;
    font: normal normal normal 18px/26px Gilroy;
    letter-spacing: 0px;
    color: white;
    opacity: 1;

}




/* Cards section */
.CategoryDevider{
    display:flex;
}


.Course-Cards{
    display:flex;
    flex-wrap:wrap;
    margin-left:0px;
    
}

.CategoriesTitle{
    margin-left:30px;
}

.my-card{
    margin-left:20px;
    display:flex;
    flex-direction: column;
}

.CategoriesTitle{
    font: normal normal normal 30px/38px Gilroy;
    letter-spacing: 0px;
    color: #3C4852;
    opacity: 1;
}

.my-card img{
    width:290px;
    height:160px;
    border-radius:8px;

}

.Course-Devider{
   height:100vh;
   border: 1px solid #707070;
   opacity: 0.5;
   margin-left:20px;
}

.Course-Title,.Course-Teacher,.Course-info{
    font:Gilroy;
    font-size:15px;
    color: #3C4852;
    margin-top:3px;
}

.Course-Teacher{
    font-size:14px;
    opacity:0.9;
    line-height:0;
}

.Course-info{
    font-size:14px;
    display: flex;
   
    
}



.Course-rating{
    flex-grow:1;
    text-align:left;
}


.Course-Price{

    flex-grow:1;
    text-align: right;
}