.BannerSection{
    position: relative;
    display:flex;
}

.BannerImage{
    
    width: 100%;
    height:240px;
    background: transparent linear-gradient(270deg, #00000000 0%, #000000 100%) 
    0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity:1;
    z-index:2;
    background-repeat: no-repeat;
    background-position: top;
    object-fit: fill;

}

.Banner-text{
    position: absolute;
    top:10%;
    left:15%;
    text-align: left;
    font: normal normal 600 55px/76px Gilroy;
    letter-spacing: 1.24px;
    color: #FFFFFF;
    opacity: 1;
    z-index:10;
}