.navbar-collapse{
    justify-content: space-around !important;
}


.navbar{
    background: #FFFFFF 0% 0% no-repeat padding-box !important; 
    box-shadow: 0px 3px 11px #BAD8FD40 !important;
    margin-bottom:-40px!important;
}


.Navbar nav{
    height:100%;
}


.Logo-specs{
    margin-left:150px;
}

@media (max-width: 459px){

    .DesktopOnly {
        display:none;
    }

    .Logo-specs{
        
    }


}