.Description-main{
    display:flex;
    flex-direction: column;
    margin-right:50px;
    width:600px;

}

.Course-Rating-section,.Course-Teacher-bookmark,.flex-row{
    display:flex;
    
}


.Course-title-main{
    font: normal normal 500 28px/34px Gilroy;
    letter-spacing: -0.04px;
    color: #566775;
    
}


.Course-Rating-section p{
    font: normal normal 600 15px/19px Gilroy;
    letter-spacing: 0px;
    color:rgb(255, 102, 0);
    padding-top:11px;
}

.break1,.break2{
    width:30%;
    height:2px;
    background-color:grey;
    opacity:0.4;
    margin-bottom:20px;
}

.Short-Description{
    font: normal normal 18px/19px Gilroy;
    letter-spacing: 1.2px;
    color: #566775;
}

.break2{
    width:20%;
}
.Course-Teacher-bookmark{
    justify-content: space-between;

}
.Course-teacher-name p{
    
    font: normal normal normal 13px/10px Gilroy;
    letter-spacing: 1.19px;
    color:rgb(255, 102, 0);
    opacity: 0.7;
}

.Course-teacher-name h2{
    font: normal normal 400 20px/29px Gilroy;
    letter-spacing: 1.68px;
    color:#0e3c5f;
}

.fa-play-circle{
    font-size:22px;
    color:#0e3c5f !important;
}

.play-btn p,.Bookmarkbtn p{
    font: normal normal 200 14px/29px Gilroy;
    letter-spacing: 0.5px;
    color: #566775;
    margin-right:20px;
}



.fa-bookmark, .fa-bookmark-o{
 
    font-size:22px;
    color:#0e3c5f;
    
}



.Breakpoint{
    margin-top:30px;
    width:100%;
    height:2px;
    background-color: grey;
    opacity: 0.4;
}


.bookmarked-color{
    color:rgb(253, 216, 5)!important;
}

.RatingStars{
padding-left:6px;
}